body {
    background-color: rgb(48, 48, 52);
}

p {
    color: aliceblue;
}

.pheader {
    font-style: normal;
    font-weight: 50;
    
}

.leftpane {
    width: 34%;
    height: 100vh;
    background-color: rgb(43, 42, 42);
    border: 1px solid #ddd;
  }
  
.middlepane {
    width: 32%;
    height: 100vh;
    background-color: rgb(43, 42, 42);
    border: 1px solid #ddd;
  }
  
.rightpane {
    width: 32%;
    height: 100vh;
    background-color: rgb(43, 42, 42);
    border: 1px solid #ddd;
  }


.d-flex {
    display: flex;
  }

i {
    color: aliceblue; 
}

h1 {
    color: aliceblue
}

h4 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}


.flex-container {
    display: flex;
    /* Enables Flexbox */
    justify-content: space-around;
    /* Distributes space around items */
    align-items: center;
    /* Centers items vertically */
    padding: 10px;
    /* Adds some padding around the flex container */
    background: rgb(43, 42, 42);
    /* Background color for the flex container */
}

.flex-item {
    background-color: #353434;
    /* Light grey background for flex items */
    border: 1px solid #ddd;
    /* Light grey border for flex items */
    padding: 20px;
    /* Adds some padding inside the flex items */
    margin: 10px;
    /* Adds some margin around the flex items */
    font-size: 20px;
    text-align: center;
    flex-grow: 1;
    /* Allows flex items to grow to fill available space */
}