body {
    background-color: rgb(48, 48, 52);
}

p {
    color: aliceblue;
}

.pheader {
    font-style: normal;
    font-weight: 50;
    
}

.leftpane {
    width: 34%;
    height: 100vh;
    background-color: rgb(43, 42, 42);
    border: 1px solid #ddd;
  }
  
.middlepane {
    width: 32%;
    height: 100vh;
    background-color: rgb(43, 42, 42);
    border: 1px solid #ddd;
  }
  
.rightpane {
    width: 32%;
    height: 100vh;
    background-color: rgb(43, 42, 42);
    border: 1px solid #ddd;
  }


.d-flex {
    display: flex;
  }

i {
    color: aliceblue; 
}